	/*.read-more{
  margin:50px auto 100px;
  border:3px solid #3DB189;
  text-transform:uppercase;
  text-align:center;
  color:#3DB189;
  background:none;
  -webkit-transition: all 0.6s ease-in;
	-moz-transition: all 0.6s ease-in;
	-ms-transition: all 0.6s ease-in;
	-o-transition: all 0.6s ease-in;
	transition: all 0.6s ease-in;
	letter-spacing:1px;
}

.read-more:hover{
  background:#3DB189;
  color:white;
  border:3px solid #3DB189;
  text-decoration: none;
}*/


/* Portfolio grid */

.grid{
  margin:70px 0;
  padding: 0;
  position:relative;
  overflow:hidden;
}

.grid li{
  width:285px;
  margin:0 15px 15px 0;
  float: left;
  position: relative;
  overflow: hidden;
}

.grid img{
  width:285px;
  float: left;
  position: relative;
}

.grid .text {
  width: 285px;
  height:100%;
  position: absolute;
  background: #3DB189;
  z-index: 2;
  opacity:0;
    -webkit-transition: all 0.6s ease-in;
	-moz-transition: all 0.6s ease-in;
	-ms-transition: all 0.6s ease-in;
	-o-transition: all 0.6s ease-in;
	transition: all 0.6s ease-in;
}

.grid .text:hover {
  opacity:1;
}


.grid p {
  font-size: 18px;
  text-align:center;
  font-weight: bold;
  letter-spacing:1px;
  padding: 10px;
  color: #FFF;
  font-family: "Moon Light", sans-serif;
}

.grid p.description {
  font-size: 12px;
  width:300px;
  text-align:center;
  color: #FFF;
  position:relative;
}
