/******** FONT ****************************************************************************/
@font-face {
    font-family: "Ikaros light";
    src: url('../fonts/Ikaros Light.otf');
}
@font-face {
    font-family: "Ikaros Regular";
    src: url('../fonts/Ikaros Regular.otf');
}

@font-face {
  font-family: "Moon Light";
  src: url('../fonts/Moon Light.otf');
}
@font-face {
  font-family: "Moon Bold";
  src: url('../fonts/Moon Bold.otf');
}
/******** BASE ************************************************************************/
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Moon Light";
  text-align: center;
}

a {
  color: #3DB189;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
a:hover,
a:focus{
  color: #3DB189;
}

p {
  padding: 30px 0;
  text-align: justify;
  color: #343434;
}

.title-lv2 {
  font-size: 40px;
}
.title-lv3 {
  font-size: 30px;
}
.title-lv4 {
  font-size: 20px;
}

.title-green {
  color: #3DB189;
}
.title-white {
  color: #FFFFFF;
}

.btn-green{
  padding: 10px 20px;
  color: #FFFFFF;
  background-color: #3DB189;
  text-align: center;
}

.img-center {
  text-align: center;
  margin: auto;
}


/******** HOME WRAP ************************************************************************/
#homewrap{
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
  background: url(../img/background_home.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-custom {
  transition: all 1s;
}
.header-custom a {
  color: #404040;
  transition: all 1s;
}
.navbar-brand{
  color: #3DB189 !important;
  font-family: "Moon Bold", sans-serif;
  font-size: 20px;
}
.navbar-brand span{
  font-size: 25px;
}

/******** PORTFOLIO WRAP ************************************************************************/
#portfoliowrap {
  padding: 70px 0;
}

#portfolio-filter {
  margin: 10px 0 15px 0;
  list-style-type: none;
  overflow: hidden;
  padding: 0;
}
#portfolio-filter li a {
  display: block;
  float: left;
  padding: 10px 20px;
  color: #FFFFFF;
  background-color: #3DB189;
  text-align: center;
}
#portfolio-filter li a:hover {
  background-color: #329070;
  text-decoration: none;
}
#portfolio-filter .current a{
  background-color: #4cd4a5 !important;
  font-weight: bold;
}

.portfolio-item {
    margin-bottom: 25px;
}

/******** EXPRESSION WRAP ************************************************************************/
#expressionwrap{
  width: 100%;
  padding: 40px 20px 40px 20px;
  position: relative;
  overflow: hidden;
  background: url(../img/background_home.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#expressionwrap p {
  margin: 0;
  color: #FFFFFF;
  font-family: "Ikaros Regular", sans-serif;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

/******** ABOUT WRAP ************************************************************************/
#aboutwrap {
  padding: 70px 0;
  background: #222222;
}

#aboutwrap img{
  width: 100%;
}
.progress {
  height: 15px;
}
.progress-bar {
  background-color: #3DB189;
}
/******** CONTACT WRAP ************************************************************************/
#contactwrap {
  padding: 70px 0;
  background: #FFFFFF;
}

#contactwrap input,
#contactwrap textarea {
  width: 50%;
  padding: 1em;
  color: #3DB189;
  border: #3DB189 3px solid;
  border-radius: none;
  font-weight: bold;
  transition: all .3s;
}

#contactwrap label{
  padding-top: 10px;
  font-family: "Moon Light", sans-serif;
  font-size: 20px;
}


/****** FOOTER *****************************************************************************/
footer{
  padding: 70px 0;
  background: #222222;
}

footer p {
  color: #FFFFFF;
}




/******** MEDIA QUERIES  ************************************************************************/
@media only screen and (max-width:550px) {
  .sub-nav {
   width: 100%;
   margin: 15px 0 25px 0;
   background-color:#A9C741;
   }
}

@media only screen and (width: 300px) {
  #contactwrap input {
    width: 100%;
  }
}
