@@font-face {
  font-family: "Dense";
  src: url(../font/Infinity.ttf)
}

/** ========================= Header =========================  **/
header{
  padding: 40px 0;
}

p{
  color: #282828;
  text-align: justify;
}
.container{
  width: 60%;
}
/** ========================= Navigation =========================  **/
nav{
  box-shadow: none;
}

nav a{
  color: #343434!important;
  text-transform: uppercase;
}

nav a:hover{
  background-color: #343434!important;
  color: #ffffff!important;
  text-transform: uppercase;
}

/** ========================= Home - Aboutwrap =========================  **/
.resumwrap{
  font-family: "Dense", sans-serif;
  font-size: 30px;
  font-weight: lighter;
  text-transform: uppercase;
  word-spacing: 1px;
}

.resumwrap span{
  color: #1b8575;
}

.resumwrap p{

}
